{% comment %}base.html{%endcomment%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main/css/main.css'%}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <a class="logo" href="{%url 'home'%}">
                <img class="logo__img" src="{%static 'main/img/566294.png'%}" alt="">
            </a>

            <nav class="nav">
                <a href="{%url 'tic-tac_menu'%}" class="nav-item">Tic Tac Toe Game</a>
                <a href="{%url 'top-list'%}" class="nav-item">Top users</a>
                <a href="{%url 'pixel-battle'%}" class="nav-item">Drawing battle</a>
                <a href="{%url 'draw-battle'%}" class="nav-item">Drawing sandbox</a>
            </nav>

            {%if request.user.is_authenticated%}
                <div class='rank'>
                    <span>Your rank is {{request.user.rating}}: {{request.user.rank}}</span>
                    <img class="rank__img" src="{{request.user.rank.image.url}}" alt="">
                    
                </div>

                <div class="dropdown-menu">
                    <span>{{request.user.username}}</span>
                    <img class="profile" src="{{request.user.imageURL}}" alt="">
                    <div class="dropdown-content">
                        <a href="#" class="dropdown-item">Profile</a>
                        <a href="{%url 'logout'%}" class="dropdown-item">Logout</a>
                        <a href="#" class="dropdown-item">Check news</a>
                    </div>
                </div>
                <script src="{%static 'main/js/base.js'%}"></script>

                

            {%else%}
                <a class="sign-in" href="{%url 'login'%}">Login</a>
            {%endif%}
        </div>
    </header>

    {%block content%}

    {%endblock%}



    {%block javascript%}
    {%endblock javascript%}
    <script src="https://kit.fontawesome.com/b96b4a6e6a.js" crossorigin="anonymous"></script>
</body>
</html>