<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <script type="application/javascript">
    window.addEventListener('load', ()=>{
        const redBtn = document.querySelector('#red');
        const greenBtn = document.querySelector('#green');
        const blueBtn = document.querySelector('#blue');
        const resetBtn = document.querySelector('#reset');
        const canvas = document.querySelector('#canvas');
        canvas.width = 1000;
        canvas.height = 600;
        // window.addEventListener('resize', ()=>{
        //     canvas.width = window.innerWidth-15;
        //     canvas.height = window.innerHeight-15;
        // })
        let ctx = canvas.getContext('2d');
        let painting = false;
        let color = 'black'

        var connectionString = 'ws://' + window.location.host + '/ws/pixel-battle/';
        const gameSocket = new WebSocket(connectionString);

        gameSocket.onopen = function open() {
            console.log('WebSockets connection created.');
        // on websocket open, send the START event.
        };

        function changeColor(color2){
            color = color2;
        }

        function startPosition(x, y, color){
            painting = true;
            draw(x, y, color)
        }

        function finishedPosition(){
            painting = false;
            ctx.beginPath();
        }

        function draw(x,y, color){
            if (!painting) return;
            ctx.lineWidth = 5;
            ctx.strokeStyle = color;
            ctx.lineCap = 'round'
            ctx.lineTo(x, y)
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(x,y);

        }

        gameSocket.onmessage = function (e) {
                let data = JSON.parse(e.data);
                data = data["payload"];
                let positionX = data['positionX'];
                let positionY = data["positionY"];
                let event = data['event'];
                let color = data['color'];
              
                if (event ==='END'){
                    finishedPosition();
                }
                else if(event === 'MOVING'){  
                    draw(positionX,positionY, color);
                }
                else if(event === 'START'){
                    startPosition(positionX,positionY, color);
                }     
                else if(event === 'changeColor'){
                    changeColor(color);
                }                
            }
        canvas.addEventListener('mousedown', (e)=>{
            gameSocket.send(JSON.stringify({
                'positionX': e.clientX,
                'positionY': e.clientY,
                'event': 'START',
                'color': color,
            }))
        })

        canvas.addEventListener('mousemove', (e)=>{
            if(!painting) return;
            gameSocket.send(JSON.stringify({
                'positionX': e.clientX,
                'positionY': e.clientY,
                'event': 'MOVING',
                'color': color,
            }))
        })

        canvas.addEventListener('mouseup', (e)=>{
            gameSocket.send(JSON.stringify({
                'positionX': e.clientX,
                'positionY': e.clientY,
                'event': 'END',
                'color': color,
            }))     
        });
//zdes
        redBtn.addEventListener('click', ()=>{
            gameSocket.send(JSON.stringify({
                'event': 'changeColor',
                'color': 'red',
            })) 
        })
        greenBtn.addEventListener('click', ()=>{
            gameSocket.send(JSON.stringify({
                'event': 'changeColor',
                'color': 'green',
            })) 
        })
        blueBtn.addEventListener('click', ()=>{
            gameSocket.send(JSON.stringify({
                'event': 'changeColor',
                'color': 'blue',
            })) 
        })
        resetBtn.addEventListener('click', ()=>{
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        })
        

    })

  </script>
  <style type="text/css">
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #canvas{
        border: 5px solid black;
    }
    button, #red, #green, #blue{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid black;
        cursor: pointer;
    }
    #red{
        background-color: red;
    }
    #green{
        background-color: green;
    }
    #blue{
        background-color: blue;
    }
  </style>
 </head>
 <body>
   <canvas id="canvas"></canvas>
   <h2>Select color</h2>
    <button id="red" type="click">Red</button>
    <button id="green" type="click">Green</button>
    <button id="blue" type="click">Blue</button>
    <button id='reset' type="click">Reset</button>
 </body>
</html>