{% extends 'main/base.html' %}
{% comment %} tic-tac_game.html {% endcomment %}
{% load static %}
{% block content %}

<div class="tic-tac_game">
    <div class="players">
        <div class="first-player">
            {%if player_1%}
                <img src="{{player_1.image}}" id="p1_img" alt="">
            {%else%}
                <img src="https://avatars.dicebear.com/api/miniavs/start.svg" id="avatar" alt="">
            {%endif%}
        </div>
        <div class="player-info">
            <div class="first-player__info">
                {%if player_1%}
                    <h3 id="p1_nick">{{player_1.nickname}}</h3>
                    <h4 class="first-player__rank">{{player_1.rating}}</h4>
                {%else%}
                    <h3 id="p2_nick">None</h3>
                    <h4 class="first-player__rank">Unranked</h4>
                {%endif%}
            </div>
            
            <span>VS</span>
            <div class="second-player__info">
                {%if player_2%}
                    <h3 id="p2_nick">{{player_2.nickname}}</h3>
                    <h4 class="first-player__rank">{{player_2.rating}}</h4>
                {%else%}
                    <h3 id="p2_nick">None</h3>
                    <h4 class="first-player__rank">Unranked</h4>
                {%endif%}
            </div>
        </div>
        <div class="second-player">
            {%if player_2%}
                <img src="{{player_2.image}}" id="p2_img" alt="">
            {%else%}
                <img src="https://avatars.dicebear.com/api/miniavs/start.svg" id="avatar" alt="">
            {%endif%}
        </div>
    </div>
    <div class="main-game">
        <div class="main-game__head">
            <h1 class="main-game__title">TIC TAC TOE</h1>
            <h3>Welcome to room_{{room_code}}, <span id='user_username'>{{nickname}}</span></h3>
        </div>
        <div id = "game_board" room_code = {{room_code}} char_choice = {{choice}} nickname={{nickname}}>
            <div class="square" data-index = '0'></div>
            <div class="square" data-index = '1'></div>
            <div class="square" data-index = '2'></div>
            <div class="square" data-index = '3'></div>
            <div class="square" data-index = '4'></div>
            <div class="square" data-index = '5'></div>
            <div class="square" data-index = '6'></div>
            <div class="square" data-index = '7'></div>
            <div class="square" data-index = '8'></div>
        </div>
        <div id = "alert_move">Your turn. Place your move <strong>{{choice}}</strong></div>
    
    </div>

    <div id="popup" class="popup">
        <div class="popup__body">
            <span id="winner"></span>
            <img src="" alt="" id="winner-avatar">
        </div>
    </div>


</div>

{% endblock content %}

{%block javascript%}
<script src="{%static 'js/tic_toe_game.js'%}"></script>
{%endblock javascript%}